/* reset selector */
* {
    margin: 0;
    padding: 0;
    }
/* formatting for elements */
html {
    background-color: white;
    height: 100%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 800px;
    margin: 0 auto;
    border: 3px solid black;
    background-color: #fffded;
    display: flex;
    flex-direction: column;
    position: relative;
}
header {
    width: 610px;
    padding-top: 2.5em;
    padding-bottom: 1.5em;
    float: right;
}
main {
    width: 610px;
    padding-bottom: 1.5em;
    float: right;
}
h1 {
    text-align: center;
}
/* formatting for header */
header h2 {
    padding-top: 1em;
    text-align: center;
}
header img {
    width: 200px;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
}
/* formatting for aside */
aside {
    width: 188px;
    border-right: 2px solid black;
    background-color: #931420;
    height: 100%;
    position: absolute;
}
#nav_list {
    padding-top: 30px;
}
h1 {
    color: #931420;
    font-family: "Snell Roundhand", cursive;
    font-size: 4em;
}
aside img {
    width: 130px;
    margin: 25px 29px;;
}
aside h2 {
    width: 50px;
    font-size: 1.4em;
    position: absolute;
    top: 29px;
    left: 100px;
    font-weight: normal;
    line-height: 1em;
}
#nav_list ul {
    list-style-type: none;
    margin: 0 auto;
    width: 129px;
}
#nav_list ul li {
    width: 125px;
    border: 2px solid black;
    background-color: #fffded;
    margin-bottom: .5em;
}
#nav_list ul li a {
    display: block;
    padding-top: .6em;
    padding-bottom: .6em;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.3em;
}
/* formatting for the home page */
main div {
    width: 516px;
    margin: 0 auto;
}
main div section {
    width: 226px;
    margin: 3px 15px;
    float: left;
}
main div section.clear {
    clear: both
}
main div section img {
    width: 220px;
    border: 3px solid black;
}
main div section h3 {
    font-size: 1.5em;
    text-align: center;
    font-weight: normal;
}

/* Formatting for the pages */
main section.text {
    clear: both;
    padding: 0 1em 1em;
}
main section h3 {
    padding-bottom: .3em;
    color: #931420;
    /* text-align: center; */
}
main p { 
    margin-bottom: 1em; 
}
main p:last-child { 
    margin-bottom: 0em; 
}
main img {
    width: 250px;
    border: 2px solid black;
}
main img.left {
    float: left;
    clear: both;
    margin-right: 1em;

}
main img.right {
    float: right;
    clear: both;
    margin-left: 1em;
}
/* formatting for footer */
footer {
    padding-bottom: .5em;
    padding-right: 1em;
    position: absolute;
    bottom: 0;
    right: 0;
}
footer p {
    text-align: right;
}





