/* formatting for elements */
body {
    background-color: gainsboro;
}
h2 {
    padding-bottom: .8em;
    font-size: 1.4em;
    text-align: center;
}
h3 {
    /* font-size: 1em;
    float: left; */
    font-weight: 400;
}
/* .text p {
    overflow: hidden;
    padding-left: .5em;
    max-width: 25em;
} */
main {
    padding: 0 1.2em;
}
section.choreographic-work {
    /* clear: both;
    overflow: hidden;
    padding-bottom: 1.5em;
    display: flex; */
    /* align-items: center; */
}
#intro {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 2em;
}
.content {
    display: flex;

}
.video {
    width: 60%;
    float: left;
    padding-right: 1em;
    padding-bottom: .5em;
    padding-top: .4em;
}
.video-container {
    overflow: hidden;
    padding-bottom:56.25%;
    position: relative;
    height: 0;
}
.video-container iframe,
.video-container object,
.video-container embed {
    /* border: 1px solid black; */
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
}
.text {
    font-size: 90%;
    align-self: center;
    width: 40%
}
.meta {
    border-spacing: 1em .3em;
    padding-bottom: 1em;
    margin: 0 auto;
}
.meta th {
    text-align: right;
    vertical-align: top;
    white-space: nowrap;
}
.meta td {
    max-width: 375px;
}
.bold {
    font-weight: 400;
}
.cast {
    overflow: auto;
    padding-bottom: 1em;
}
.cast h3 {
    text-align: center;
    padding-bottom: .2em;
}
.cast p {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}
#intro a {
    text-decoration: none;
}
@media only screen and (max-width: 959px) {
    body {
        font-size: 95%;
    }
    h2 {
        padding-bottom: .2em;
    }
    .video {
        width: 88%;
        padding-bottom: 1em;
    }
    .content {
        flex-direction: column;
        align-items: center;
    }
    .text {
        width: 100%;
        display: flex;
        align-items: center;
    }
    .cast {
        order: 1;
    }
    .meta {
        order: 2;
    }
}
@media only screen and (max-width: 767px) {
    body {
        font-size: 90%;
    }
    h1 {
        font-size: 2em;
        padding-top: .5em;

    }
    h2 {
        font-size: 1.2em;
        padding-bottom: 0;
    }
    table {
        margin: 0 auto;
    }
    section.choreographic-work {
        display: flex;
        flex-direction: column;
        padding-bottom: 1em;
    }
    /* .content {
        flex-direction: column;
    } */
    .video {
        width: 100%;
        float: none;
        padding-right: 0;
        /* order: 2; */
        padding-top: .7em;
    }
    .text {
        /* order: 1; */
        font-size: 95%;
        flex-direction: column;
    }
    .meta td {
        max-width: 225px;
    }
}
@media only screen and (max-width: 479px) {
    main {
        padding: 0 .5em;
    }
}


