/* formatting for elements */
body {
    background-color: black;
}
h1 {
    color: gainsboro;
}
main {
    background-image: url();
    background-repeat: no-repeat;
    background-size: 900px;
    position: relative;
    padding: 0;
}
form {
    padding: 1.7em 0;
    margin-left: 8%;
    border-left: 3px solid grey;
    height: 500px;
}
/* Styles for the form */
label {
    float: left;
    width: 8.5em;
    text-align: right;
    font-size: 1.2em;
    color: LightGrey;
}
input, textarea {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    width: 14em;
    background-color: WhiteSmoke;
    padding: .3em;
    font-size: .8em;
}
textarea {
    width: 24em;
    margin-bottom: .5em;
}
input#first_name {
    width: 6.6em;
    margin-right: .1em;
}
input#last_name {
    width: 6.6em;
    margin-left: .1em;
}
input#submit, input#reset {
    width: 7em;
    margin-bottom: 0;
}
input#reset {
    margin-left: 0;
}
@media only screen and (max-width: 959px) {
    form {
        margin-left: 3%;
        border: none;
    }
}



