* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-image: -webkit-linear-gradient(45deg,grey 0%, white 40%, grey 100%);
    box-shadow: inset 0px 0px 30px 5px rgba(0,0,0,0.5);
}
nav {
    border-bottom: 2px solid black;
    position: relative;
    z-index: 1;
}
/* Styles for the header */
header h2 {
    font-size: 6em;
    text-align: center;
    font-weight: lighter;
    padding: .3em 0;
    text-shadow: 1px 1px 4px black;
    /* color: DarkGoldenRod;
    text-shadow: 2px 2px 4px black,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000; */
}
/* Styles for nav_menu */
/* #nav_menu {
    position: relative;
} */
#nav_menu a {
    /* display: block; */
    /* height: 64px; */
    font-size: 1.5em;
    /* padding: .5em 0; */
    text-decoration: none;
    color: LightGrey;
    text-shadow: 1px 1px 2px black;
    /* background: grey; */
    /* text-align: center; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* transition: background 0.4s; */
}
#nav_menu a:hover {
    /* background: silver; */
    text-shadow: 3px 3px 6px black;
    color: Gainsboro;
}
#nav_menu ul {
    display: flex;
    list-style: none;
}
#nav_menu li {
    padding: .6em;
    background: DimGrey;
    text-align: center;
    width: 100%;
    position: relative;
}
#nav_menu li:hover .submenu > li {
    border-top: 2px solid black;
    display: block;
    /* top: 0px; */
}
/* #nav_menu a:hover + .submenu > li {
    border-top: 2px solid black;
    display: block;
} */
.submenu li {
    display: none;
}
.submenu a {
}
.submenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
/* #nav_menu > ul::after {
    content: "";
    display: block;
    clear: both;
} */
/* #nav_menu a:hover {
    text-shadow: 3px 3px 6px black;
    color: Gainsboro;
} */
