/* formatting for elements */
body {
    position: relative;
    background-color: black;
    z-index: -3;
}
main {
    /* background-image: url("../images/SansPleurer-32(2k).jpg");
    background-repeat: no-repeat;
    background-size: 900px;
    z-index: -2; */
    position: relative;
    padding: 0;
}
/* Styles for main */
main img {
    position: relative;
    max-width: 70%;
    min-width: 900px;
    z-index: -2;
}
main aside h2 {
    padding-bottom: .2em;
}
aside {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 47%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
section {
    color: WhiteSmoke;
    padding: .7em 0;
    padding-right: 1em;
}
main h1 {
    font-size: 1.7em;
    color: WhiteSmoke;
    padding-bottom: .3em;
}
main h2 {
    font-weight: 300;
}
main section#first {
    width: 100%;
}
main section#choreography {
    width: 80%;
}
main section#photography {
    width: 88%;
}
main section#film {
    width: 70%;
}
.shadow {
    background-color: rgba(0, 0, 0, .8);
    position: relative;
    border-radius: 20px;
}
.shadow:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
    box-shadow: 1px 0px 50px 50px rgba(0, 0, 0, .8); 
    z-index: -1;
}
@media only screen and (max-width: 959px) {
    aside {
        width: 60%;
    }
}
@media only screen and (max-width: 767px) {
    aside {
        width: 80%;
    }
    .shadow {
        background-color: rgba(0, 0, 0, .6);
    }
}
@media only screen and (max-width: 600px) {
    aside {
        align-items: center;
        width: 100%;
    }
    main section {
        text-align: center;
        padding: .5em 1em;
    }
    main section#first {
        width: auto;
    }
}



