/* reset selector */
* {
    margin: 0;
    padding: 0;
    }
/* formatting for elements */
html {
    background-color: black;
}
body {
    font-family: Arial, Helvetica, sans-serif, serif;
    font-size: 100%;
    width: 100%;
}
main {
    background-image: url("../images/SansPleurer-32(2k).jpg");
    background-repeat: no-repeat;
    background-size: 900px;
    height: 800px;
    position: relative;
    z-index: -2;
}
footer {
    background: grey;
    
}
/* Styles for main */
main h1 {
    font-size: 1.7em;
    color: LightGrey;
    font-weight: lighter;
    padding-bottom: .3em;
}
main section#first {
    width: 40%;
    float: right;
    margin-right: 3em;
    padding-top: 3em;
    color: LightGrey;
}
.shadow {
    background-color: rgba(0, 0, 0, .8);
    position: relative;
    border-radius: 20px;
}
.shadow:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
    box-shadow: 1px 0px 50px 50px rgba(0, 0, 0, .8); 
    z-index: -1;
}
main aside#dance {
    position: absolute;
    top: 600px;
    float: none;
    width: 60%;
}
/* Styles for aside */
main aside {
    clear: right;
    float: right;
    margin: 3em 3em 0 0;
    color: LightGrey;
}
main aside h2 {
    padding-bottom: .2em;
    font-weight: lighter;
}
main aside.short {
    width: 30%;
}
main aside.long {
    width: 33%;
}

/* Styles for the footer */
footer p {
    text-align: center;
    padding: .5em 0;
}



